Repository Stefouch/sebedius-yearzero-discord-bot, pull requests merged in 2021-03, with the labels that each got.

#84 feat: More German language and a few other additions
  README.md
  commands/colony.js
  commands/contact.js
  commands/drawinit.js
  commands/feral.js
  commands/job.js
  commands/journey.js
  commands/legend.js
  commands/mishap.js
  commands/module.js
  commands/monster.js
  commands/mutation.js
  commands/myzpower.js
  commands/planet.js
  gamedata/alien/alienjob-cargo-generator.de.json
  gamedata/alien/alienjob-cargo-generator.en.json
  gamedata/alien/alienjob-expe-generator.de.json
  gamedata/alien/alienjob-expe-generator.en.json
  gamedata/alien/alienjob-generator.de.json
  gamedata/alien/alienjob-generator.en.json
  gamedata/alien/alienjob-mil-generator.de.json
  gamedata/alien/alienjob-mil-generator.en.json
  gamedata/alien/planet-generator.de.json
  gamedata/alien/planet-generator.en.json
  gamedata/fbl/fbr-journeys.de.yml
  gamedata/fbl/fbr-journeys.en.yml
  gamedata/myz/ely-ip-backlashes.de.csv
  gamedata/myz/gla-fp-feraleffects.de.csv
  gamedata/myz/mek-ep-overheatings.de.csv
  gamedata/myz/monster-generator.de.json
  gamedata/myz/monster-generator.en.json
  generators/ALIENJobGenerator.js
  generators/ALIENWorldGenerator.js
  generators/MYZMonsterGenerator.js
  generators/YZGenerator2.js
  lang/de.json
  lang/en.json
  lang/locales.js
  utils/Util.js
  yearzero/YZInitDeck.js
  yearzero/YZJourney.js
  yearzero/YZTerrainTypesFlags.js
Labels: lang

#90 feat: More multi-language support and German translations
  commands/panic.js
  commands/planet.js
  commands/prefix.js
  commands/resource.js
  commands/roll.js
  commands/rollalien.js
  commands/rollcoriolis.js
  commands/rollfbl.js
  commands/rollmyz.js
  commands/rollt2k.js
  commands/rolltales.js
  commands/rollvaesen.js
  gamedata/myz/artifacts.list.sw.json
  gamedata/myz/mutations.list.sw.json
  gamedata/myz/swedish/Ark-threats_-_Swedish.txt
  gamedata/myz/swedish/Artifacts_-_Swedish.txt
  lang/de.json
  lang/en.json
Labels: lang

#92 feat(crits): vaesen critical injuries
  CHANGELOG.md
  CONTRIBUTING.md
  Sebedius.js
  commands/crit.js
  commands/critvaesen.js
  gamedata/crits/crits-vaesen-damage.en.csv
  gamedata/crits/crits-vaesen-mental.en.csv
  lang/en.json
Labels: 🦋 Vaesen

#83 fix: ssl connection to pg db
  Sebedius.js
Labels: bug, major

#101 feat: german translation for alien monsters + attacks & fix: monster-moredescriptions / monster-attacks
  commands/monster.js
  gamedata/alien/alien-monsters-catalog.de.csv
  gamedata/alien/atk-harvester.de.csv
  gamedata/alien/atk-lionworm.de.csv
  gamedata/alien/atk-scorpionid.de.csv
  gamedata/alien/atk-scorpionid.en.csv
  gamedata/alien/atk-swarm.de.csv
  gamedata/alien/atk-xeno-bloodburster.de.csv
  gamedata/alien/atk-xeno-chestburster.de.csv
  gamedata/alien/atk-xeno-facehugger.de.csv
  gamedata/alien/atk-xeno-neomorph.de.csv
  gamedata/alien/atk-xeno-neomorph.en.csv
  gamedata/alien/atk-xeno-stage4.de.csv
  gamedata/alien/atk-xeno-stage5.de.csv
  gamedata/alien/atk-xeno-stage6-crusher.de.csv
  gamedata/alien/atk-xeno-stage6-queen.de.csv
  gamedata/alien/atk-xeno-stage6.de.csv
  lang/de.json
  lang/en.json
  yearzero/YZObject.js
Labels: bug, enhancement, lang, 👾 Alien RPG

#99 feat: v4.0.1
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  Sebedius.js
  commands/monster.js
  commands/myzpower.js
  commands/roll.js
  gamedata/alien/alien-monsters-catalog.de.csv
  gamedata/alien/atk-harvester.de.csv
  gamedata/alien/atk-lionworm.de.csv
  gamedata/alien/atk-scorpionid.de.csv
  gamedata/alien/atk-scorpionid.en.csv
  gamedata/alien/atk-swarm.de.csv
  gamedata/alien/atk-xeno-bloodburster.de.csv
  gamedata/alien/atk-xeno-chestburster.de.csv
  gamedata/alien/atk-xeno-facehugger.de.csv
  gamedata/alien/atk-xeno-neomorph.de.csv
  gamedata/alien/atk-xeno-neomorph.en.csv
  gamedata/alien/atk-xeno-stage4.de.csv
  gamedata/alien/atk-xeno-stage5.de.csv
  gamedata/alien/atk-xeno-stage6-crusher.de.csv
  gamedata/alien/atk-xeno-stage6-queen.de.csv
  gamedata/alien/atk-xeno-stage6.de.csv
  gamedata/crits/crits-fbl-blunt.sv.csv
  gamedata/crits/crits-fbl-horror.sv.csv
  gamedata/crits/crits-fbl-slash.sv.csv
  gamedata/crits/crits-fbl-stab.sv.csv
  gamedata/crits/crits-myz-damage.sv.csv
  gamedata/crits/crits-myz-nontypical.sv.csv
  gamedata/crits/crits-myz-pushed.sv.csv
  gamedata/myz/ark-threats.list.sv.json
  gamedata/myz/artifacts.list.sv.json
  gamedata/myz/mutations.list.sv.json
  lang/de.json
  lang/en.json
  lang/locales.js
  package-lock.json
  package.json
  test/lang.test.js
  utils/constants.js
  utils/version.js
  yearzero/YZObject.js
  yearzero/models/sheet/BaseSheet.js
Labels: lang, 👾 Alien RPG
