Repository Stefouch/sebedius-yearzero-discord-bot, pull requests merged in 2022-09, with the labels that each got.

#140 fix: Fixed translation taken from german 2nd edition
  gamedata/crits/crits-fbl-slash.de.csv
  gamedata/crits/crits-fbl-stab.de.csv
Labels: minor, ⚔️ Forbidden Lands, lang

#156 feat: Add negative dice option for roll myz & fbl
  PRIVACY_POLICY.md
  src/commands/admin/conf.js
  src/commands/roll/panic.js
  src/commands/roll/roll.js
  src/commands/roll/rolld66.js
  src/commands/utils/help.js
  src/commands/utils/ping.js
  src/events/interaction-create.js
  src/events/ready.js
  src/structures/command.js
  src/structures/database/database.js
  src/structures/handlers/command-handler.js
  src/structures/handlers/event-handler.js
  src/utils/discord-utils.js
  src/utils/logger.js
  src/yearzero/gamedata/gamedata-parser.js
  src/yearzero/roller/yzroll.js
  test/db.test.js
  test/roll.test.js
Labels: minor, ☢️ Mutant Year Zero, ⚔️ Forbidden Lands, 👾 Alien RPG

#164 feat(Commands): ✨ Add localizations for command names & description
  .github/workflows/test.yml
  .vscode/settings.json
  package.json
  register.js
  src/commands/admin/conf.js
  src/commands/roll/crit.js
  src/commands/roll/panic.js
  src/commands/roll/roll.js
  src/commands/utils/help.js
  src/locales/de/commands.yml
  src/locales/en-US/commands.yml
  src/locales/en-US/commons.yml
  src/locales/fr/commands.yml
  src/locales/fr/commons.yml
  src/structures/command.js
  src/utils/object-utils.js
  test/client.test.js
  test/db.test.js
  test/locale.test.js
  test/locale.test.js.lock
  test/roll.test.js
Labels: locale

#175 fix(Panic): 🐛 Add correct index for 0-6 results on the table
  src/utils/RollTable.js
  src/yearzero/gamedata/de/table-alien-panic-effects.yml
  src/yearzero/gamedata/en-US/table-alien-panic-effects.yml
Labels: bug, 👾 Alien RPG

#169 feat(Commands): Add a /rollall command
  .github/workflows/test.yml
  src/commands/admin/conf.js
  src/commands/admin/eval.js
  src/commands/roll/panic.js
  src/commands/roll/roll.js
  src/commands/roll/rollall.js
  src/commands/roll/rolld66.js
  src/commands/utils/help.js
  src/config.js
  src/events/interaction-create.js
  src/locales/en-US/commands.yml
  src/structures/command.js
  src/structures/webhook-manager.js
  test/client.test.js
  test/locale.test.js
Labels: feature request

#177 feat(Commands): Add initiative command
  .github/workflows/release.yml
  src/commands/roll/init.js
  src/config.js
  src/events/interaction-create.js
  src/locales/en-US/commands.yml
  src/locales/fr/commands.yml
  src/structures/database/database.js
  src/structures/database/models/index.js
  src/structures/database/models/initiative-model.js
  src/yearzero/initiative/initiative-deck.js
  test/client.test.js
Labels: feature request
